* { padding: 0; margin: 0;  font-family: "Abril Fatface", sans-serif;}
html { scroll-behavior: smooth;}
body { background-color: 	#FFFAFA; }

iframe{
  width: 25vw;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: black!important;
}

#Nav{
  display: block;
  margin-top: 1vh;
  margin-left: 12vw;
  font-size: 25px;
  float: left;
}

#Nav > a{
  margin-left: 1vw;
  display: inline-block;
}

#Phone{
  float: right;
  height: 18vh;
  margin-right: 3vw;
  margin-top: -20vh;
  color: white;
  font-size: 65px;
  transform: scale(1.0);
  transition: all 0.3s ease;
}

#Phone:hover {
  transform: scale(1.2);
}

#MobileNavButton:hover{
  color:black;
}

#MobileNavButton{
  display: none;
  float: right;
  height: 10vh;
  width: 10vh;
  margin-right: 3vw;
  color: #fff;
  font-size: 65px;
}

#IconContainer {
    height: 18vh;
    margin-right: 3vw;
    margin-top: 14vh;
    color: white;
    font-size: 65px;
    float: left;
}

#SocialIcons {
    display: flex;
    padding: 5px;
    width: 25vw;
    height: 3vh;
    margin-right: 60vw;
    color: white;
    margin-top: -14vh;
    font-size: 25px;
    float: right;
}

#SocialIcons > div{
  display: flex;
  margin-right: 1vw;
}

#SocialIcons > div:nth-child(n) > div{
  display: flex;
}

.SocialIconImage{
  background-color: white;
  height: 25px;
  width: 25px;
  margin: 2.5px;
  border-radius: 15px;
}

.Facebook{
  background-size: 25px 25px;
  background-image: url("/img/fb.svg");
}

.LinkedIn{
  background-size: 25px 25px;
  background-image: url("/img/li.png");
}

.Insta{
  background-size: 25px 25px;
  background-image: url("/img/insta.png");
}

.GMB{
  background-size: 25px 25px;
  background-image: url("/img/gmb.png");
}

#MainContent{
  padding:15px;
}

#MainContent > p{
  width: 24vw;
  font-size: 22px;
  font-weight: 300;
}

#ConentContainer{
  margin-left: 35%;
}

.Spacer{
  height: 37vh;
}

.HalfSpacer{
  height: 25vh;
}

#SecondPanel{
  height: 100vw;
}

#ConentContainerLeft{
  float: left;
  margin-left: 10vw;
  margin-top: 30vh;
}

#ConentContainerRight{
  float: right;
  margin-right: 10vw;
  margin-top: 30vh;
}

ul{
  list-style: none;
}

@media only screen and (min-width : 1024px) {
  #IntroContentBox{
    transform: rotate(5deg);
  }
}

#IntroContentBox{
  width: 25vw;
  height: auto;
  background-color: #bc006e;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  box-shadow: -15px 15px 0px 0px #e21385;
  border-radius: 15px;
}

h1{
  font-size: 30px;
  font-weight: 400;
}

h2{
  font-size: 30px;
  font-weight: 400;
}

h3{
  font-size: 30px;
  font-weight: 400;
}

#PeelParrallaxNav{
  background-repeat: no-repeat;
  background-image: url("/img/quickcutheader.svg");

  height:39vh;
  width:90vw;

  background-size: cover;

  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  transform-origin: center;
  margin-top: -9vh;
}

.PeelParrallax{
  transform-style: preserve-3d;
  /* Set a specific height */
  /*min-height: 1000px;*/
  min-height: 110vh;

  /* Create the PeelParrallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /*
  background-position: top 15px right 0px;
  background-position-x: 100%;
  background-position-y: 0%;
  -webkit-transform: translateZ(0);
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  */
}

.img1{
  /* The image used */
  background-image: url("/img/QuickCuts_FirstShoot-Whitfords_FullRes_9.jpg");
}

.img2{

  /* The image used */
  background-image: url("/img/QuickCuts_FirstShoot-Whitfords_FullRes_36.jpg");
  min-height: 120vh!important;
}

.img3{
  /* The image used */
  background-image: url("/img/QuickCuts_FirstShoot-Whitfords_FullRes_15.jpg");
}

.img4{
  /* The image used */
  background-image: url("/img/QuickCuts_FirstShoot-Whitfords_FullRes_46.jpg");
}

.img5{
  /* The image used */
  background-color: white;
  min-height: 350vh!important;
}

.img6{
  /* The image used */
  background-image: url("/img/QuickCuts_FirstShoot-Whitfords_FullRes_45.jpg");
}

.PriceGuide{
  /* The image used */
  background-image: url("/img/QuickCuts_FirstShoot-Whitfords_FullRes_24.jpg");
  min-height: 270vh!important;
  margin-top: -515px;
}

.Before{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  background-image: url("/img/Before.png");
}

.After{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;
  background-image: url("/img/After.png");
}

#Footer{
  margin-top: 175vh;
  color:#bc006e;
}

#FooterRibben{
  margin-left: -1vw;
  width: 100vw;
  height:1vh;
  background-color: #bc006e;
}

#FooterContent{

}

#FooterText{
  font-size: 35px;
  margin-top: 20vh;
  text-align: center;
}

#FooterFaq{
  text-align: center;
  font-size: 35px;
}

#FooterFaq li {
  margin-bottom: 50px;
}

.FAQTitle{
  font-size: 35px;
  text-align: center;
  color:#bc006e;
}

#FooterLogo{
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 10vw;
  margin-left: 45vw;
  background-image: url("/img/QuickCutWLogo.png");
}

.TimeContainer li {
  margin-bottom: 25px;
}
