@media only screen and (max-width: 764px) {
  /* #ad005c */

  /*
    Main Css File
      Please find other css files such as mobile etc.
  */

  html{
    overflow-x: hidden;
  }

  hr {
      width: 100% !important;
      margin-left: 0px!important;
  }

  #Nav{
    margin-top: 12vh;
    margin-left: 33vw;
    position: absolute;
    right: 10px;
    top: 10vh;
    display: grid;
    height: 25vh;
    overflow-y: hidden;
    background-color: #ad005c;
    display: none;
  }

  #Nav a {
    text-align: center;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #Nav a p {
    margin-top: 5px;
  }

  .PriceGuide {
      background-image: url(/img/QuickCuts_FirstShoot-Whitfords_FullRes_24.jpg);
      margin-top: -100px;
      min-height: 75vh!important;
      width: 100vw;
      background-repeat: no-repeat;
      background-size: contain;
  }

  #PeelParrallaxNav{
    background-repeat: no-repeat;

    height:39vh;
    width:90vw;

    background-size: cover;

    max-height: 30%;
    min-height: 20%;
    top: 0;
    left: 0;
    transform-origin: center;
    margin-top: -9vh;
  }

  .PeelParrallax{
      background-attachment: scroll;
      width:100vw;
      height: 200vh;
  }

  #ConentContainer{
    margin-left: 0;
    margin-left: 0%;
  }

  #MainContent > p{
    width: 80vw;
    font-size: 23px;
    font-weight: 400;
  }

  .img1{
    min-height: 125vh!important;
    height: 125vh!important;
  }

  .img2{
    min-height: 170vh!important;
    height: 170vh!important;
  }

  .img3{
    min-height: 170vh!important;
    height: 170vh!important;
  }

  .img4{
    min-height: 205vh!important;
    height: 205vh!important;
  }

  .img6{
    min-height: 45vh!important;
    height: 110vh!important;
  }

  .img6 > div > div, .img1 > div > div{
    margin-top: -20vh;
    margin-left: 3vw;
  }

  #MobileNavButton{
    display: flex;
    margin-top: 11vh;
    color: white;
  }

  #MobileNavButton .hamburger-inner::before {
    top: 15px;
  }

  #MobileNavButton .hamburger-inner::after {
    top: 30px;
  }
  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    color: rgb(255, 255, 255) !important;
    background: rgb(255, 255, 255) !important;
  }

  #Phone{
    margin-right: 0;
    margin-top: 10vh;
  }

  #SocialIcons{
    display: none;
    padding: 5px;
    width: 25vw;
    height: 25vh;
    margin-left: 0vw;
    margin-top: 2vh;
    margin-right: 37vw;
    color: white;
    font-size: 20px;
    float: right;
  }

  iframe{
    width: 90vw;
  }

  #IntroContentBox{
    width: 90vw;
    height: auto;
    background-color: #bc006e;
    color: white;
    margin-left: 5vw;
  }

  h1{
    font-size: 35px;
  }

  h2{
    font-size: 25px;
  }

  h3{
    font-size: 22px;
  }

  #MainConentTitle, #MainConentTitleLeft, #MainConentTitleRight{
    width: 80vw;
    margin: auto;
  }

  #FooterLogo{
    float: left;
    width: 47vw;
    height: 17vh;
    margin-left: 22vw;
    margin-top: 35px;
  }

  #ContentContainerRightContent{
    margin-right: -0vw;
  }

  #ContentContainerLeftContent{
    margin-left: -0vw;
  }

  #IconContainer {
    height: 18vh;
    margin-top:3vh;
    color: white;
    font-size: 64px;
    margin-right: 15px;
  }

  #IconContainer > a{
    color: white;
  }

  #ConentContainerRight {
    float: left;
    margin-top: 5vh;
    margin-left: 1vw;
    margin-right: 0;
    padding-left: 0px;
  }

  .cancelMarginLeft {
    margin-left: 0 !important;
  }

  #ConentContainerLeft {
    float: left;
    margin-top: 5vh;
    margin-left: 1vw;
    padding-left: 0px;
  }

  #FooterRibben{
    width: 90vw;
  }

  #FooterText {
    font-size: 25px;
    margin-top: 20vh;
    text-align: left;
  }

  #FAQTitle {
    font-size: 25px;
    text-align: left;
  }

  #FooterFaq {
    text-align: left;
    font-size: 25px;
  }

  #Footer{
    padding:15px;
  }

  .Reveal{
    display: block;
  }

  /* CAROUSEL Styling */
  .carouselHeader {
    margin-top: 20vh !important;
    margin-left: 2vw !important;
  }

  .Control_Button i {
    margin-top: 65vh !important;
  }

  .BA_Content {
    margin-top: 100px !important;
  }


  #Carousel_Control_Left,
  #Carousel_Control_Right {
    height: 185vh !important;
    z-index: 90000;
  }

  .Carousel_Info {
    top: 174vh !important;
    margin-top: -84vh !important;
    z-index: 10;
  }

  .Gallery {
    margin-top: 5vh;
    margin-left: 0% !important;
  }

}
